/****** General ***********/
* {
	font-family: "Raleway", sans-serif;
}

:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
}

.fa-solid {
	color: var(--main-color);
}

body {
	display: flex;
	justify-content: center;
}

.main-container {
	box-sizing: border-box;
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
}

a,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

/* || HEADER || */

.logo-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.logo-nav img {
	height: 19px;
	padding: 30px 0 30px 0;
}

.logo-nav ul {
	font-size: 16px;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 68px;
}

.logo-nav li {
	padding: 15px 0 0 0;
	border-top: 2px solid transparent;
}

.logo-nav li:hover {
	color: #0065fc;
	border-top: 2px solid #0065fc;
}

/* || INFO GROUP || */
.info-group > * {
	margin-bottom: 35px;
}

/* Trouvez votre hébergement... */
.headline h1 {
	font-size: 22px;
	margin: 0 0 8px 0;
}

.headline p {
	font-size: 16px;
	margin: 0;
}

/* || BARRE DE RECHERCHE || */
.search-bar {
	display: flex;
	height: 49px;
}

.fa-location-dot {
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	color: black;
	border: 1px solid #f2f2f2;
	border-radius: 15px 0 0 15px;
	background-color: #f2f2f2;
}

.search-bar input {
	font-size: 18px;
	font-weight: bold;
	width: 195px;
	padding: 13px 0 13px 15px;
	text-align: left;
	border: 0;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	outline: none;
}

.search-bar button {
	font-size: 18px;
	font-weight: bold;
	width: 130px;
	color: #fff;
	border: 1px solid #0065fc;
	border-radius: 0 15px 15px 0;
	background-color: #0065fc;
}

.search-bar button:before {
	content: "Rechercher";
}

/* || FILTRES || */
.filterbar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

.filterbar h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.filters {
	font-size: 17px;
	font-weight: bold;
	display: flex;
	align-items: center;
	height: 38px;
	padding: 4px 17px 4px 17px;
	border: 2px solid #d9d9d9;
	border-radius: 25px;
	gap: 10px;
}

.filters:hover {
	background-color: #deebff;
}

.filters .fa-solid {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22px;
	height: 22px;
}

.fa-money-bill-wave {
	font-size: 19px;
}

.fa-person {
	font-size: 22px;
}

.fa-heart {
	font-size: 18px;
}

.fa-fire {
	font-size: 20px;
}

/* Nombre de résultats */
.infobar {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	gap: 10px;
}

.infobar p {
	font-size: 16px;
	margin: 0;
}

.fa-info {
	font-size: 10px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	width: 22px;
	height: 22px;
	color: #0065fc;
	border: 1px solid #d9d9d9;
	border-radius: 50%;
}

/* || MAIN || */
main {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 35px;
}

/* Titres de section (Hébergements à Marseille, etc... */
.section-title {
	font-size: 22px;
	margin: 0;
}

.card {
	display: flex;
	padding: 5px;
	border-radius: 20px;
	background-color: white;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
	object-fit: cover;
}

.card-title {
	font-size: 16px;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color);
}

.card-content {
	display: flex;
	flex-direction: column;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
}

/****** Hebergements ***********/
#hebergements {
	box-sizing: border-box;
	width: 65%;
	padding: 30px;
	border-radius: 20px;
	background-color: var(--main-bg-color);
}

.hebergements-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 30px 0 30px 0;
	row-gap: 30px;
}

.hebergements-cards a {
	display: flex;
	width: 31%;
}

.hebergements-cards .card {
	flex-direction: column;
	flex-grow: 1;
	padding-bottom: 15px;
}

.hebergements-cards img {
	width: 100%;
	height: 114px;
	border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
	flex-grow: 1;
	padding: 9px 0 0 10px;
}

.hebergements-cards .fa-star {
	font-size: 13px;
	vertical-align: middle;
}

.hebergements-cards .card-title {
	flex-grow: 1;
	margin: 0 0 8px 0;
}

.hebergements-cards .card-subtitle {
	font-size: 14px;
	margin: auto 0 0 0;
	margin-bottom: 8px;
}

.hebergements-cards .card-rating {
	font-size: 7px;
}

.show-more {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

/****** Populaires ***********/
.populaires {
	box-sizing: border-box;
	width: 32%;
	padding: 30px;
	border-radius: 20px;
	background-color: var(--main-bg-color);
}

.populaires-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fa-chart-line {
	font-size: 18px;
}

.populaires-cards {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 30px;
}

.populaires-cards img {
	width: 33%;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
	box-sizing: border-box;
	width: 67%;
	padding: 10px 0 5px 15px;
}

.populaires-cards .card-title {
	margin: 0 0 5px 0;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	font-size: 6px;
	margin-top: auto;
}

.populaires-cards .fa-star {
	font-size: 12px;
}

/* || ACTIVITES || */
#activites {
	display: flex;
	flex-direction: column;
	padding: 30px;
	gap: 30px;
}

.activites-cards {
	display: flex;
	justify-content: space-between;
}

.activites-cards a {
	display: flex;

	width: 23%;
}
.activites-cards .card {
	flex-direction: column;
	flex-grow: 1;
	padding: 0;
}

.activites-cards img {
	width: 100%;
	height: 380px;
	border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
	flex-grow: 1;
	padding: 20px 19px 20px 19px;
}

.activites-cards .card-title {
	margin: auto 0;
}

/* || FOOTER || */
.footer-list {
	display: flex;
	background-color: #f2f2f2;
}

.footer-list nav {
	display: flex;
	flex-direction: column;
	width: 33%;
	padding: 20px;
	gap: 15px;
}

.footer-list h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.footer-list ul {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.filterbar h2 {
		width: 100%;
	}

	.filters {
		font-size: 16px;
	}

	.hebergements-and-populaires {
		flex-direction: column;
	}

	#hebergements {
		width: 100%;
	}

	.populaires {
		width: 100%;
		margin-top: 50px;
	}

	.populaires-cards {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.populaires-cards a {
		width: 32%;
	}

	.populaires-cards .card-title {
		font-size: 15px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}

	.activites-cards img {
		height: 200px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	/* ... */
	.main-container {
		margin: 0;
		padding: 0;
	}

	.logo-nav {
		flex-direction: column;
	}

	.logo-nav img {
		width: 61px;
		margin: 0 auto 0 auto;
	}

	.logo-nav ul {
		font-size: 15px;
		gap: 0;
	}

	.logo-nav li {
		width: 50%;
		padding: 0 0 15px 0;
		text-align: center;
		border-top: 0;
		border-bottom: 2px solid #f2f2f2;
	}

	.logo-nav li:hover {
		border-top: 0;
		border-bottom: 2px solid #0065fc;
	}

	.info-group {
		box-sizing: border-box;
		padding: 0 20px;
	}

	.fa-location-dot {
		flex-shrink: 0;
	}

	.search-bar {
		width: 100%;
		max-width: 335px;
	}

	.search-bar input {
		width: inherit;
		margin-right: auto;
		padding: 0 0 0 15px;
		text-align: left;
	}

	.search-bar button {
		font-size: 17px;
		font-weight: normal;
		flex-shrink: 0;
		width: 49px;
		border-radius: 15px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	.search-bar button:before {
		font-family: fontAwesome;
		content: "\f002";
	}

	.filterbar {
		column-gap: 10px;
		row-gap: 20px;
	}

	.filters {
		font-size: 14px;
		flex: 1 0 37%;
		max-width: 198px;
		padding: 4px 17px;
	}

	.populaires {
		order: 1;
		margin: 0;
		padding: 30px 20px 30px 20px;
		border-radius: 0;
	}

	.populaires-cards {
		align-items: center;
		flex-direction: column;
		margin-top: 15px;
		gap: 15px;
	}

	.populaires-cards a {
		width: 100%;
	}

	.populaires-cards .card-title {
		font-size: 16px;
	}

	.populaires-cards .card-subtitle {
		font-size: 14px;
	}

	#hebergements {
		flex-direction: column;
		order: 2;
		margin-top: 15px;
		padding: 20px;
		border-radius: 0;
		background-color: transparent;
	}

	.hebergements-cards {
		align-items: center;
		flex-direction: column;
		margin: 15px 0;
		row-gap: 15px;
	}

	.hebergements-cards a {
		width: 100%;
	}

	.activites-cards {
		align-items: center;
		flex-direction: column;
		gap: 15px;
	}

	.activites-cards a {
		width: 100%;
	}

	.activites-cards img {
		height: 141px;
	}

	.footer-list {
		flex-direction: column;
		padding: 30px;
		gap: 50px;
	}

	.footer-list nav {
		width: 100%;
		padding: 0;
	}
}
